<html>
<head>
	<title>Mi Página de prueba</title>
</head>


<body bgcolor="#f08080" text="#f5f5dc">

<h1><marquee> Bienvenido a Django </marquee></h1>

<body>
<font color="Gray" face="Comic Sans MS,arial">

<h2 align="center">¿Qué es Django?</h2>
</font>

<font face="Comic Sans MS,arial">

<br>

<i> Django es un framework web de alto nivel que permite el desarrollo rápido de sitios web seguros y mantenibles. </i>

<br>

<i> Se encarga de gran parte de las complicaciones del desarrollo web, por lo que puedes concentrarte en escribir tu aplicación sin necesidad de reinventar la rueda. Es gratuito y de código abierto. </i>

 <b>MGLS</b>

</font>
</body>
</html>