<html>

<head>
<title>
Mi Página de prueba
</title>
</head>

<body bgcolor="#f08080" text="#f5f5dc">

<h1><marquee> Bienvenido a Django </marquee></h1>

<body>
<p>
<FONT COLOR="#778899"> ¿Qué es Django? </FONT>
<p>

<p> <i> Django es un framework web de alto nivel que permite el desarrollo rápido de sitios web seguros y mantenibles. </i> </p>
<p> <i> Django se encarga de gran parte de las complicaciones del desarrollo web, por lo que puedes concentrarte en escribir tu aplicación sin necesidad de reinventar la rueda. Es gratuito y de código abierto. </i> </p>


<i> MGLS  </i>

</body>