<html>
<head>
	<title>Home de la cocina para todos</title>
</head>

<body>
<font color="Olive" face="Comic Sans MS,arial">
<h1 align="center"><i>Cocina para Todos</i></h1>
<h2 align="center">La cocina tu alcance</h2>
</font>

<font face="Comic Sans MS,arial">
Descubre los platos más exquisitos, fáciles y económicos que puedas imaginar.

<br>
Dentro de este sitio podrás tener acceso a gran variedad de <b>recetas</b> de preparacion sencilla,
aprenderás como realizar <b>operaciones comunes</b> dentro de una cocina y podras plantear tus preguntas
en nuestro <b>consultorio</b> gourmet donde nuestro cocinero virtual podrá ayudarte con tus proyectos culinarios.
También te será posible adquirir los <b>libros</b> gastronómicos más populares al precio més accesible...
<br>
Adéntrate en los misterios de la cocina sin quemar más cacerolas ni llamar al pizzero.
</font>
</body>
</html>